@{
    ViewData[index: "title"] = "Logo DevConnect";
}

@model DevConnect.Models.TbUsuario

<link rel="stylesheet" href="~/css/cadastro.css">


<script defer>
    let usuarioNovoCadastrado = "@ViewBag.UsuarioNovoCadastrado";

    if (usuarioNovoCadastrado == "Nao Cadastrado") {
        alert("Usuário não cadastrado. Tente novamente. Se necessário, contate o suporte.");
    }
</script>

<h1>Tela cadastro - DevConnect</h1>
<main>
    <!-- formulario -->
    <div>

        <!-- FORMULÁRIO -->
        <form class="estilo-formulario" asp-action="Index" asp-controller="Usuario" enctype="multipart/form-data">

            <img src="~/images/logo-devconnectnovo-lg.svg" alt="Logo DevConnect">

            <p>Cadastre-se para a comunidade exclusiva de desenvolvedores(as)</p>

            <div class="formulario-campos">
                <input type="text" asp-for="Nomecompleto" placeholder="Nome e sobrenome">
            </div>

            <div class="formulario-campos">
                <input type="text" asp-for="Nomeusuario" placeholder="Nome de usuário">
            </div>

            <div class="formulario-campos">
                <input type="email" asp-for="Email" placeholder="E-mail">
            </div>

            <div class="formulario-campos">
                <input type="password" asp-for="Senha" placeholder="Senha">
            </div>

            <div id="upload">
                <label for="campo-upload">Faça upload da sua imagem...</label>
                <input type="file" name="Imagem" id="campo-upload">
            </div>

            <button type="submit" class="formulario-botao-azul">Cadastre-se</button>

            <p>Ao se cadastrar, você concorda com nossos Termos, Política de dados e Política de cookies.</p>

        </form>

        <!-- BLOCO INFERIOR -->
        <section id="secao-cadastro" class="estilo-formulario">
            <p>Tem uma conta? <a asp-controller="Home" asp-action="Index">Conecte-se</a></p>
        </section>

        <p>Obtenha o aplicativo</p>

        <section id="secao-instalacao">
            <img src="~/images/app-store.svg" alt="App Store">
            <img src="~/images/google-play.svg" alt="Google Play">
        </section>

    </div>
</main>