  <link rel="stylesheet" href="~/css/perfil.css">
  <header id="cabecalho">
        <nav>
            <a href="./perfil.html">
                <img id="logo-desktop" src="~/images/logo-devconnectnova-md.svg" alt="Logo DevConnect">
            </a>
            <a href="./perfil.html">
                <img id="logo-mobile" src="~/images/logo-devconnectnovo-sm.svg" alt="Logo DevConnect">
            </a>
            <div class="cabecalho-acoes">
                <a asp-controller="Feed" asp-action="Index">
                    <img src="~/images/icone-casa-azulnovo.svg" alt="">
                </a>
                <a href="#">
                    <img src="~/images/icone-coracao-azulnovo.svg" alt="">
                </a>
                <a href="#">
                    <img class="foto-perfil" src="~/images/foto--perfil-desktop.svg" alt="Foto de perfil">
                </a>
            </div>
        </nav>
    </header>

    <!-- Área do Perfil -->
    <section class="perfil">
        <div class="perfil-informacao">
            <img src="~/images/foto--perfil-desktop.svg" alt="Foto do perfil" class="foto-perfil">
            <div class="dados-perfil">
                <h2>YURI_ALBERTO <img src="~/images/icone-verificado-azul.svg" alt=""></h2>
                <p><span>9K</span> Publicações | <span>100</span> Seguindo | <span>200K</span> Seguidores</p>

                <div class="acoes-perfil">
                    <a>Yuri Alberto Monteiro da Silva</a>
                    <a href="#">Editar perfil</a>
                    <a href="~/pages/cadastro.html">Sair</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Publicações -->
    <section class="publicacoes">
        <h3><img src="~/images/icone-galeria-azul.svg" alt=""> PUBLICAÇÃO</h3>

        <div class="postagem">
            <div class="Foto-publicacao">
                <img src="~/images/foto--perfil-desktop.svg" alt="Foto perfil" class="foto-postagem">
                <span>YURI_ALBERTO_OFICIAL <img src="../assets/images/icone-verificado-azul.svg" alt=""></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
            </p>
            <div class="interacoes-publicacao">
                <span><img src="~/images/icone-coracao-azulnovo.svg" alt=""> 3M</span>
                <span><img src="~/images/icone-comentario-azul.svg" alt=""> 200K</span>
            </div>
            <a href="#">Ver todos os comentários...</a>
        </div>

        <div class="postagem">
            <div class="Foto-publicacao">
                <img src="~/images/foto--perfil-desktop.svg" alt="Foto perfil" class="foto-postagem">
                <span>YURI_ALBERTO_OFICIAL <img src="~/images/icone-verificado-azul.svg" alt=""></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
            </p>
            <div class="interacoes-publicacao">
                <span><img src="~/images/icone-coracao-azulnovo.svg" alt=""> 3M</span>
                <span><img src="~/images/icone-comentario-azul.svg" alt=""> 200K</span>
            </div>
            <a href="#">Ver todos os comentários...</a>
        </div>

        <div class="postagem">
            <div class="Foto-publicacao">
                <img src="~/images/foto--perfil-desktop.svg" alt="Foto perfil" class="foto-postagem">
                <span>YURI_ALBERTO_OFICIAL <img src="~/images/icone-verificado-azul.svg" alt=""></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
            </p>
            <div class="interacoes-publicacao">
                <span><img src="~/images/icone-coracao-azulnovo.svg" alt=""> 3M</span>
                <span><img src="~/images/icone-comentario-azul.svg" alt=""> 200K</span>
            </div>
            <a href="#">Ver todos os comentários...</a>
        </div>
    </section>