/* FUNDO */
main { 
    background-color: var(--cor-preto);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER GERAL */
main > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* CARD PRINCIPAL */
.estilo-formulario {
    background-color: var(--cor-cinza-escuro);
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    width: 350px;
    border: none;
}

.estilo-formulario input::placeholder {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branco-gelo);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

/* INPUTS */
.estilo-formulario input {
    background-color: #747474;
    border: none;
    padding: 12px;
    width: 270px;
    border-radius: 4px;
    color: white;
    font-size: var(--tamanho-fonte-sm);
}

/* TEXTOS */
form > p {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

/* BOTÃO PRETO */
.formulario-botao-azul {
    width: 100%;
    background-color: #000;
    color: #9B9B9B;
    height: 40px;
    border-radius: 4px;
    font-size: var(--tamanho-fonte-sm);
}

/* UPLOAD */
#upload label {
    background-color: #000;
    color: #9B9B9B;
    padding: 7px;
    border-radius: 4px;
    width: 210px;
    display: block;
    cursor: pointer;
}
#upload input { display: none; }

/* BLOCO "TEM CONTA?" */
#secao-cadastro {
    background-color: var(--cor-cinza-escuro);
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#secao-cadastro p {
    color: #000;
    font-size: var(--tamanho-fonte-md);
}

#secao-cadastro p a {
    color: var(--cor-verde-esmeralda);
    text-decoration: none;
    font-weight: 600;
}

/* TEXTO "OBTENHA O APLICATIVO" */
main > div > p {
    color: white;
    font-size: var(--tamanho-fonte-sm);
}

/* ÍCONES */
#secao-instalacao {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
