/* MAIN */
main {
    background-color: var(--cor-preto);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* CONTAINER CENTRAL */
.container-flex-publi {
    background-color: #000000;
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 30px;
}

/* STORIES */
#story {
    width: 100%;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
    background-color: var(--cor-preto);
    border-radius: 10px;
}

#story::-webkit-scrollbar {
    height: 0;
}

.card-story button {
    background: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story button img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

/* CRIAR PUBLICAÇÃO */
#criar-publi {
    padding: 10px;
    background-color: #0e0d0d;
}

#criar-publi h2 {
    color: white;
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 25px;
}

#criar-publi textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--borda);
    font-size: var(--tamanho-fonte-sm);
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-cinza-claro);
}

#criar-publi textarea::placeholder {
    color: white;
}

#criar-publi footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
   
}

#criar-publi footer div {
    background-color: #89A0A9;
}


#criar-publi  footer > button{
     width: 160px; 
     height: 100%;
    padding: 12px 20px; 
    background-color: var(--cor-azul-escuro); 
    color: white; 
    font-size: var(--tamanho-fonte-sm); 
    border: none;
    
   
   
}

/* PUBLICAÇÕES */
#publicacoes {
    width: 100%;
}

/* CARD PUBLICAÇÃO */
.card-publi {
    background-color:#0e0d0d;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 25px;
}

/* HEADER DO POST */
.card-publi header {
    padding: 15px;
}

.card-publi header a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #EEEEEE;
}

/* IMAGEM DO POST */
.imagem-publicacao {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

/* DESCRIÇÃO */
.card-publi figcaption {
    color: white;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

/* INTERAÇÕES */
.interacoes-publicacao {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.interacoes-publicacao button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* COMENTÁRIOS */
.ver-comentarios {
    background: transparent;
    border: none;
    color: gray;
    font-size: var(--tamanho-fonte-sm);
    margin: 0 15px 15px 15px;
    cursor: pointer;
}
