/* FONTES */
@font-face {
    font-family: Billabong;
    src: url(../assets/fonts/Billabong/billabong.ttf),
         url(../assets/fonts/Billabong/billabong_regular.otf);
}

/* VARIÁVEIS */
:root {
    --cor-preto: #000000;
    --cor-verde-esmeralda: #419F93;
    --cor-branco: #ffffff;

    --cor-branco-gelo: #E3F5FC;
    --cor-cinza-claro: #F2F7FA;
    --cor-cinza-escuro: #474747;
    --cor-azul-escuro: #2C3E50;
    --cor-azul-claro: #B3EFFF;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    outline-color: var(--cor-azul-claro);
}

body {
    background-color: var(--cor-cinza-claro);
}

/* REMOVE TÍTULO INVISÍVEL */
h1 {
    display: none;
}

/* BOTÕES PADRÃO */
.formulario-botao-azul {
    background-color: var(--cor-verde-esmeralda);
    border-radius: 2px;
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
}

/* INPUTS PADRÃO (mas sobrescrito no cadastro.css) */
.formulario-campos > input {
    height: 35px;
    font-size: var(--tamanho-fonte-sm);
    border-radius: 2px;
    border: none;
}

/* LABELS */
.formulario-campos > label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 600;
}

/* FORM CONTAINER PADRÃO */
.estilo-formulario {
    width: 100%;
}

/* UPLOAD */
#campo-upload {
    display: none;
}

#upload {
    display: inline-block;
    padding: 10px;
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    border-radius: 2px;
    cursor: pointer;
}

/* CABEÇALHO (para outras páginas) */
#cabecalho {
    background-color: #1D1D1D;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1D1D1D;
}

#cabecalho nav {
    width: 85%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-acoes {
    display: flex;
    align-items: center;
    gap: 10px; 
}


#logo-mobile { display: none; }

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* RESPONSIVO */
@media only screen and (max-width: 500px) {
    #logo-mobile { display: initial; }
    #logo-desktop { display: none; }
}
