main { 
    background-color: var(--cor-preto);
    min-height: 100vh;
    /*minimo de altura da janela do dispositivo*/
    width: 100%;
    display: flex;
    /*ativa o flex*/
    justify-content: center;
    align-items: center;
}

main>div {
   /* background-color: var(--cor-azul);*/
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

form {
    /*background-color: brown; */
    display: flex;/*ativa o flex*/
    flex-direction: column;
    justify-content: center;/*alinha na direcao do flex*/
    align-items: center;
    gap: 25px;
    padding: 3%;
}


.formulario-campos > input{
    display: flex;
    flex-direction: column;
    width: 260PX;
    gap: 5px;
    background-color:  #747474;
}

.formulario-campos input::placeholder{
    color: var(--cor-azul-claro);
}
.formulario-botao-azul{
    width: 260px;
    background-color: var(--cor-preto);
    color: #9B9B9B;
}

form > p{
    text-transform: uppercase;/*deixa o texto em maiusculo*/
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro3);
}

form >a, #secao-cadastro > p > a {
    color: var(--cor-verde-esmeralda);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;/*remove a decoração (sublinhado)*/
}

#secao-cadastro > p {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
}

#secao-cadastro {
    /* background-color: burlywood; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estilo-formulario {
    max-width: 342px;
    background-color: var(--cor-cinza-escuro);
    border: none;
    border-radius: 10px;
}

main>div>p {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao {
   /*background-color: chartreuse;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}