body{
    background-color: var(--cor-preto);
}
/* Perfil */
.perfil-informacao { 
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border: 1px solid var(--borda);
    color: #ffffff;
    background-color: var(--cor-preto);
    border-radius: 10px;
}

.dados-perfil > h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.dados-perfil > p {
    color: var(--cor-cinza-claro);
    margin-bottom: 10px;
}

.acoes-perfil > a {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--cor-verde-esmeralda);
    text-decoration: none;
    font-size: 1rem;
}

/* Publicações */
.publicacoes {
    max-width: 700px;
    margin: 0 auto 50px auto;
    padding: 20px;
    color: white;
    background-color: var(--cor-preto);
    border-radius: 10px;
    
}

.publicacoes > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: var(--cor-principal);
}

/* Estilo das postagens */
.postagem {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--cor-cinza-escuro1);
}

.Foto-publicacao {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.foto-postagem {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--cor-principal);
}

.interacoes-publicacao {
    display: flex;
    gap: 25px;
    margin: 15px 0;
    font-size: 0.9rem;
}

.interacoes-publicacao > span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--cor-cinza-claro);
}

.postagem > a {
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 1rem;
}
